body{
    height: fit-content;
    margin: 0;
    background-image: url(/maneger_shop_basic1/static/img/homepage-img/slide/avenger2.jpg);
}
/* menu top */
#logo-shop{
    width: 94px;
}
.dropdown{
    margin-left: 0px;
}
#acc {
    margin-top: -3px;
}
.form-search{
    margin-left: 15px;
    margin-right: 120px;
}
#input-search{
    width: 250px;
}
#cart{
    margin-top: -3px;
    height: 39px;
    font-size:15px;

}
.yourorder{
    margin-top: -3px;
    
}
/* .dropdown{
    margin-left: 29px;
} */
.ul-menutop .li-menutop {
    display: inline-block;
}

.ul-menutop{
    float: right;
    margin-bottom: 0;
}
/* begin menu top */

/* main */
.container-fluid{
    margin-top:58px;
}
.content-intro{
    margin-top: 150px;
    color: white;
    font-family:sans-serif;
    font-stretch:wider;
    font-weight: 600;
}
.content-intro::after{
    content: "That's how it is - Meo~~~â€";
    display: block;
    width: fit-content;
    position: relative;
    left: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-variant: small-caps;

}
.background-intro{
    position:absolute;
    width: 100%;
}
.container{
    width: 100%;
    height: fit-content;
    position: relative;
    /* margin-bottom: 50px; */
    padding: 0;
    /* background-image: linear-gradient(to bottom right, rgb(0, 219, 48), rgb(0, 97, 40)); */
}
.banner1{
    width: 102.7%;
    margin-left: -1.3%;
    margin-top: 10% ;
}
.banner2{
    width: 51%;
    
    margin-top: 10% ;
    display: inline;
}
.banner3{
    width: 51%;
    margin-left: -2.4%;
    margin-top: 10% ;
    display: inline;
}
.introduct-row{
    position: relative;
    left: 15px;
    margin-top: 300px;
    width: 100%;
    height: 500px;
    align-items: center;
    margin-left: 15px;
    padding: 10px 10px;
}
.introduct-card1,.introduct-card2,.introduct-card3{
    height: 100%;
    padding: 5px 5px;
    border: 1px solid black;
    background-color: rgb(252, 252, 252);
    /* opacity: 0.5; */
    border-radius: 20px;
    transition: 1s;
    /* box-shadow: 1px 1px 8px 5px #ebebeb; */
}
.introduct-card1::before{
    position: relative;
    content: "";
    top:320px;
    width: 0px;
    background: rgb(0, 211, 28);
    height: 5px;
    border-radius: 20px;
    display:block;
    transition: 1s;
}
.introduct-card2::before{
    position: relative;
    content: "";
    top:320px;
    width: 0px;
    background: rgb(0, 211, 28);
    height: 5px;
    border-radius: 20px;
    display:block;
    transition: 1s;
    margin: auto;
}
.introduct-card3::after{
    position: relative;
    content: "";
    top:-110px;
    width: 0px;
    background: rgb(0, 211, 28);
    height: 5px;
    border-radius: 20px;
    display:block;
    margin-left:99%;
    transition: 1s;
}
.introduct-card3:hover::after{
   margin-left:0%;
    width: 100%;
    transition: 1s;
}
.introduct-card2:hover::before{
    width: 100%;
    transition: 1s;
}
.introduct-card1:hover::before{
    width: 100%;
    transition: 1s;
}
.iso-icon{
    position: relative;
    margin-top:50px;
    transition: 1s;
}
.transport-icon{
    width: 30%;
    display: inline;
}
.card-icon{
    position: relative;
    width: 100%;
    transition: 1s;
}
@keyframes introduct {
from{ opacity: 0;}
to{opacity: 0.9;}
}

/* .introduct-card3:hover .iso-icon{
    opacity: 1;
    transition: 1s;
}
.introduct-card2:hover .iso-icon{
    opacity: 1;
    transition: 1s;
}
.introduct-card1:hover .iso-icon{
    opacity: 1;
    transition: 1s;
} */
/* .introduct-card3:hover{
    opacity: 0.9;
    transition: 1s;
    box-shadow: 1px 1px 8px 2px #ebebeb;
}
.introduct-card2:hover{
    opacity: 0.9;
    transition: 1s;
    box-shadow: 1px 1px 8px 2px #ebebeb;
}
.introduct-card1:hover{
    opacity: 0.9;
    transition: 1s;
    box-shadow: 1px 1px 8px 2px #ebebeb;
} */
.icon-header-intro{
    width: 40%;
    display: block;
    margin: auto;
}

.icon-body-intro{
    font-variant: small-caps;
    font-size: 20px;
}
.body-intro-card{
    padding-top: 30px;
    padding-left: 20px;
}
  /* slide */
.carousel{
    position: relative;
    top:80px
}
.carousel-item{
    margin: auto;
    display: block;
    width: fit-content;
    position: relative;
    top:50px;
}
#img-slide{
    
    margin: auto;
    display: block;
    width: fit-content;
    position: relative;
}
.carousel-control-prev{
    margin-left: 15%;
    margin-top: 5%;
}
.carousel-control-next{
    margin-right: 15%;
    margin-top: 5%;
}
.carousel-inner>.carousel-item {
    transition: 1.5s ease-in-out ;
}
/* product */
#title-phone{
    margin-top:5% ;
    text-align: center;
    margin-bottom: 5%;
    color: rgb(219, 13, 13);
}
.phone{
    width: fit-content;
    height: fit-content;
    width: 100%;
}
.card_product{
    display: inline-block;
    background-color: rgb(53, 53, 53);
    width: 30%;
    height: fit-content; 
    margin-left: 2.3%;
    margin-top: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    transition: 0.8s;
    position: relative;
    cursor:pointer;
}
.card_product:hover{
    box-shadow: rgba(44, 44, 44, 0.5) 0px 7px 29px 0px;
    transition: 0.8s;
    background-color: rgb(218, 0, 0);
}
.card_product:hover .img_product{
    padding: 0px 0px;
    width: 80%;
    transition: 0.3s;
}
.card_product:hover .img_laptop{
    padding: 1px 0px;
    width: 89%;
    transition: 0.1s;
}


.header_card_product{
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.img_product{
    position: relative;
    margin: 0 auto;
    width: fit-content;
    display: block;
    padding: 10px 10px;
    transition: 0s;
}
   
.logo_product{
    position: relative;
    width: 30%;
    margin: auto;
    display: block;
}
.name_product{
    width: fit-content;
    position: relative;
    margin: auto;
    padding: 20px 20px;
    font-family:sans-serif ;
    font-size: 25px;
    line-height: 10px;
    color: white;
}
.price_product{
    width: fit-content;
    position: relative;
    margin: auto;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.see_more{
    color: white;
    margin: auto;
    position: relative;
    width: fit-content;
    display: block;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    bottom: 40px;
}
/* ----------------------- news-------------------------- */
.all-item-new{
    position: relative;
    /* background-color: rgb(255, 255, 255,240); */
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    column-span: 0;
}
.img-news{
    width: 100%;
    height: 100%;
}
.new-card1{
    position: absolute;
    left: -1000px;
}
.new-card2{
    position: absolute;
    right: -1000px;
}
@keyframes news1 {
from{ left: -1000px;}
to{left: 0px;}
}
@keyframes news2 {
from{ right: -1000px;}
to{right: 0px;}
}
/* footer */
.footer{
    position: absolute;
    max-width: 100%;
    background-color: #343a40!important;
  }
  .colum-info{
    height: 0px;
    display:inline-block;
    margin-left: 20px;
  }
  .colum-info ul li{
    list-style: none;
    margin-top: 10px;
  }
  .colum-info ul li a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size: 15px;
  }
  .colum-info ul li span{
    color:rgb(255, 255, 255);
  }
  .strong-footer{
      color: rgb(0, 155, 46);
  }
  .colum-info ul li img{
    max-width: 70px;
  }
  .endtext{

    margin-top: 50px;
    padding: 10px 20px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    text-align:center;
  }